@import url("font-awesome.min.css");
body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
video {
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    min-width: 100vw;
    max-height: 685px;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw;
    height: 685px;
    z-index: -100;
    transform: translateX(0%) translateY(0%);
 	  background: url('#') no-repeat;
  	background-size: cover;
  	transition: 1s opacity;
    overflow: hidden;
}
.logo{
  position: absolute;
  width: 200px;
  margin: -12px 0px 0px -12px;
  padding: 0px
}
.headText{
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  margin: 15% auto 0 5%;
  color: white;
}
.headText h1:before{
    font-family: FontAwesome;
    content: "\f18c";
    color: green;
    margin: 5px;
}
.headText h1:after{
    font-family: FontAwesome;
    content: "\f18c";
    color: green;
    margin: 5px;
}

#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 2%;
  width: 31%;
  margin: 3% 5% 5% auto;
  float: right;
}
.btn-facebook{
	background-color: #3b5998;
	color: #fff;
}
.btn-facebook:hover{
	background-color: #fff;
	color: #3b5998;
}
.btn-google{
	background-color: #c23321;
	color: #fff;
}
.btn-google:hover{
	background-color: #fff;
	color: #c23321;
}

@media screen and (max-width: 500px) {
  #polina{
    width:90%;
    margin-top: -50% !important;
  }
  video{
    display: none;
  }
}
@media screen and (max-device-width: 800px) {
  #bgvid { display: none; }
}
